[Unit]
Description=Run Speedreport every 15 minutes

[Timer]
OnCalendar=*-*-* *:00,15,30,45:0
Unit=speedreport.service

[Install]
WantedBy=timers.target
